@import 'reset.css';
@import 'home.css';

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #192a56;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, section {
    padding-top: 50px;
}

a {
    all: unset;
    color: white;
    cursor: pointer;
}

h1{
    font-size: 30pt;
    padding: 10px;
}